<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar proveedor</title>
</head>
<body>
    <form action="" method="post" id="formulario">
        {% csrf_token %}
        <div class="form-group">
            {{form.as_table}}
        </div>

        <input type="submit" class="btn btn-danger" id="enviar" value="Modificar">
        <input type="reset" class="btn btn-primary" id="limpiar" value="Limpiar">
        <div id="error" class="alert alert-danger" role="alert"></div>
    </form>
    <div class="alert alert-succes" role="alert">
        {{mensaje}}
    </div>
</body>
</html>